<section class="portfolio">
  <div class="container">
    <%- include('ui/heading', { subtitle: 'Наши клиенты', title: 'Портфолио проектов' }) %>
    <div class="row">
      <div class="col-lg-4">
        <%- include('ui/portfolio-item') %>
      </div>
      <div class="col-lg-4">
        <%- include('ui/portfolio-item') %>
      </div>
      <div class="col-lg-4">
        <%- include('ui/portfolio-item') %>
      </div>
    </div>
    <div class="row portfolio-spoiler">
      <div class="col-lg-4">
        <%- include('ui/portfolio-item') %>
      </div>
      <div class="col-lg-4">
        <%- include('ui/portfolio-item') %>
      </div>
      <div class="col-lg-4">
        <%- include('ui/portfolio-item') %>
      </div>
      <a href="#" class="button accent mx-auto my-2">Показать все проекты</a>
    </div>
    <button class="button accent portfolio-spoiler-btn d-block mx-auto">Спойлер</button>
  </div>
</section>