<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lifecode</title>
  <link rel="icon" type="image/png" href="img/favicon.png">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <%- include('components/ui/adaptive-menu') %>
  <%- include('components/ui/modals') %>

  <%- include('components/contacts', { theme: 'accent' }) %>
  <%- include('components/header') %>
  <%- include('components/services') %>
  <%- include('components/portfolio') %>
  <%- include('components/team') %>
  <%- include('components/reviews') %>
  <%- include('components/feedback') %>
  <%- include('components/footer') %>
  
  <script src="js/app.js"></script>
</body>
</html>