<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Блог</title>
  <link rel="icon" type="image/png" href="img/favicon.png">
  <link rel="stylesheet" href="css/app.css">
</head>
<body class="page">
    <%- include('components/ui/adaptive-menu') %>

    <%- include('components/contacts', { theme: 'accent' }) %>

    <div class="container">
        <%- include('components/ui/nav') %>
        <%- include('components/ui/heading', { subtitle: '', title: 'Пишем кастомный Select на C++' }) %>
        <div class="row">
            <div class="col-12">
                <section class="post">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                    </p>
                    <img src="img/article.png" alt="">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                    </p>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                    <iframe height="576" style="width: 100%;" src="https://codepen.io/randomrandomrandom/embed/jOyabPm?height=265&theme-id=dark&default-tab=html,result" frameborder="no" loading="lazy"></iframe>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt lobortis massa, vitae porttitor massa dignissim et. Aenean sodales mi in risus lobortis, ut molestie risus euismod. Nulla non tellus diam. Nulla lacinia risus vel purus ornare congue. Mauris sagittis at diam sed congue. Nulla imperdiet nec risus a tincidunt. Mauris eu elementum enim.
                    </p>
                    <a href="#">Lorem ipsum dolor sit amet</a>
                    <a href="#">Lorem ipsum dolor sit amet</a>
                </section>
            </div>
        </div>
    </div>
    <%- include("components/footer") %>
  
  <script src="js/app.js"></script>
</body>
</html>